/*
@tailwind base;
@tailwind components;
@tailwind utilities; */

.button_regular {
  @apply flex items-center transition duration-200 hover:bg-blue-500 text-lg px-7 py-2 bg-blue-400 text-white uppercase tracking-[3px] rounded-md;
}
