/*
@tailwind base;
@tailwind components;
@tailwind utilities; */

#drop * {
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

.button_regular {
  @apply flex justify-center items-center grow-0 transition duration-200 hover:bg-blue-500 text-base px-7 py-2 bg-blue-400 text-white uppercase tracking-[2px] rounded-md text-center;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(148 163 184);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(51 65 85);
}
