/*
@tailwind base;
@tailwind components;
@tailwind utilities; */

#drop * {
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

.button {
  @apply flex justify-center justify-self-center items-center grow-0 transition duration-200 hover:bg-blue-500 bg-blue-400 text-white uppercase rounded-md text-center;
}

.button_regular {
  @apply text-base tracking-[2px] px-7 py-2;
}

.button_initial {
  @apply self-start;
}

.button_small {
  @apply text-sm tracking-[1px] px-5 py-3;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(148 163 184);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(51 65 85);
}
