/*
@tailwind base;
@tailwind components;
@tailwind utilities; */

#drop * {
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

.button {
  @apply flex justify-center justify-self-center items-center grow-0 transition duration-200 hover:bg-blue-500 bg-blue-400 text-white uppercase rounded-md text-center;
}

.button_regular {
  @apply text-base tracking-[2px] px-7 py-2;
}

.button_initial {
  @apply self-start;
}

.button_small {
  @apply text-sm tracking-[1px] px-5 py-2;
}

::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(148 163 184);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(51 65 85);
}

.iframe_disabled {
  position: relative;
}

.iframe_disabled::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: transparent;
}

.editor-element_selected {
  outline: 1px solid #60a5fa;
}
